.text{
    justify-items: center;
}
.text h1,h1{
    font-family: 'get_schwifty';
    text-align: center;
}
.text p{
    text-align: justify;
    padding: 0 3em;
}
.trailers{
    display: flex;
    padding: 0 3em;
}